input,
button,
textarea {
  width: 100%;
  border: 2px solid var(--bg-main-darker-color);
  padding: 2px;
}

input:focus,
textarea:focus {
  outline: solid var(--bg-main-darker-color);
}

button {
  background-color: var(--bg-main-color);
  border: 1px solid var(--bg-main-darker-color);;
  color: white;
}

button:disabled {
  background-color: var(--bg-main-darker-color);
  color: white;
  cursor: not-allowed;
}

button:hover {
  color: white;
  cursor: pointer;
}

/* button:hover:disabled {
  color: gray
} */
