.header-main {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.logo-link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.logo {
  --bg-main-color: #209cee;
  --bg-alt-color: #ffffff;
}
.logo {
  font-size: 25px;
  text-shadow: none;
  margin-right: 20px;
  display: flex;
}
.logo .left {
  color: black;
  background: var(--bg-alt-color);
  padding: 5px;
}
.logo:hover .left {
  color: white;
  background: var(--bg-main-color);
}
.logo .right {
  color: white;
  background: var(--bg-main-color);
  padding: 5px;
}
.logo:hover .right {
  color: black;
  background: var(--bg-alt-color);
}
.header-nav {
  float: right;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
.nav-ul {
  list-style: none;
  float: right;
  height: 25px;
  padding-top: 18px;
}
.nav-li {
  float: left;
  margin-right: 20px;
}
.li-h1 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
}
.li-link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
.li-link.active {
  padding-bottom: 5px;
  box-shadow: 0px 1px 0px 0px black;
}
