@tailwind base;

@tailwind components;

@tailwind utilities;

header {
  position: fixed;
  width: 100%;
}

.header-main {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.logo-link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.logo {

  --bg-alt-color: transparent;
  --transition-time: 0.8s;
}
.logo {
  font-size: 25px;
  font-weight: bold;
  text-shadow: none;
  margin-right: 20px;
  display: flex;
}
.logo .left {
  color: black;
  background-color: var(--bg-alt-color);
  transition: background-color ease var(--transition-time);
  padding: 5px;
}
.logo:hover .left {
  color: white;
  background-color: var(--bg-main-color);
}
.logo .right {
  color: white;
  background-color: var(--bg-main-color);
  transition: background-color ease var(--transition-time);
  padding: 5px;
}
.logo:hover .right {
  color: black;
  background-color: var(--bg-alt-color);
}
.header-nav {
  float: right;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
.nav-ul {
  list-style: none;
  float: right;
  height: 25px;
  padding-top: 18px;
}
.nav-li {
  float: left;
  margin-right: 20px;
}
.li-h1 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}
.li-link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.li-link.active,
.li-link:hover {
  padding-bottom: 5px;
  box-shadow: 0px 1px 0px 0px black;
  transition: box-shadow ease 0.5s;
}

.li-link.active {
  font-weight: 600;
}
